In [1]:
# Import dependencies
import pandas as pd

# File to load
vine_data_to_load = "vine_table.csv"

# Read vine data
vine_df = pd.read_csv(vine_data_to_load)

In [2]:
# Check vine DataFrame
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3P2HIOQCIN5ZU,1,0,0,N,Y
1,R12VVR0WH5Q24V,5,0,0,N,Y
2,RNCCKB6TV5EEF,4,0,0,N,Y
3,R2NZXYIVCGB13W,5,0,6,N,Y
4,R2EQ1TG9IT3OEQ,3,0,0,N,Y
...,...,...,...,...,...,...
4366911,R2C0JM229QZS0R,4,1,6,N,N
4366912,R3CBWUG8E05BFU,1,5,5,N,N
4366913,RN7TB51V24XHT,4,7,7,N,N
4366914,R22CRGBKA02SPB,5,3,3,N,N
4366915,R1NR3UYEZ0M8KQ,1,12,13,N,N

In [3]:
#Filter the data and create a new DataFrame to retrieve all rows where total_votes >= 20
helpful_votes_df = vine_df[vine_df['total_votes'] >= 20]
helpful_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
1232,RY9O9XNLP464N,2,19,22,N,Y
...,...,...,...,...,...,...
4366771,R1UYT6MT2IOAJN,5,23,24,N,N
4366804,R8FUPKU9V9O8C,5,3,28,N,N
4366844,R3QRYRJWX0N6H3,4,29,33,N,N
4366886,R20WGBU79NREU,5,14,20,N,N
4366893,R2JC45DHFX613N,5,6,24,N,N

In [4]:
#Create a new DataFrame to retrieve all rows where helpful_votes/total_votes >= 50%
helpful_votes_df.dtypes

review_id            object
star_rating           int64
helpful_votes         int64
total_votes           int64
vine                 object
verified_purchase    object
dtype: object

In [5]:
better_helpful_df = helpful_votes_df[helpful_votes_df['helpful_votes'] / helpful_votes_df['total_votes'] >= .5]
better_helpful_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
1232,RY9O9XNLP464N,2,19,22,N,Y
...,...,...,...,...,...,...
4366751,R1FALBZOUYCZTD,5,29,31,N,N
4366765,R7M3UQX8B04NM,5,20,21,N,N
4366771,R1UYT6MT2IOAJN,5,23,24,N,N
4366844,R3QRYRJWX0N6H3,4,29,33,N,N
4366886,R20WGBU79NREU,5,14,20,N,N

In [6]:
#Create a new DataFrame to retrieve all rows where review was part of Vine program (paid)
vine_paid_df = better_helpful_df[better_helpful_df.vine == 'Y']
vine_paid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
270349,R2N45ZKRRZS856,5,21,22,Y,N
306676,R5OMLMK13A8NS,5,34,38,Y,N
1050160,R2MPEQ4SPTEQNS,4,180,184,Y,N
1224726,RIR0D3KJ0CQ31,4,21,21,Y,N
1231743,R1SPWJDHUWWC5E,5,88,98,Y,N
1243026,R1X6M5XA3FT98W,5,24,26,Y,N
1268364,R37VCW6HA0Z72T,5,27,28,Y,N
1290559,R2XRYNV2SY3ZKL,5,53,56,Y,N
1312559,R1Y93KWKAX1P5N,2,26,31,Y,N
1312914,R2QVTDYYLTP8SL,5,21,24,Y,N
1315594,R3KOK2SH39BZU1,3,94,96,Y,N
1319788,R2VOM73EHLPXJW,4,35,38,Y,N
1327911,R3SEZS7BZEC69Y,5,16,20,Y,N
1330791,R1MJ5J272V19O6,4,49,51,Y,N
1348086,R3A7BQX1JDKOM5,4,20,20,Y,N
1509983,R1307JMPUEQXOW,5,31,35,Y,N
1622137,RXV0SDXE5B15T,2,39,42,Y,N
2373630,RBMDYE7LUH9FI,5,26,32,Y,N
2439075,R1N4W961QV59BV,5,25,34,Y,N
2440481,R11XKHFS4KQS3Z,4,205,211,Y,N
2462716,R2AT1A0VUSY955,5,22,24,Y,N
3791315,RMFBF4KEBW9RK,5,37,43,Y,N

In [7]:
#Createa new DataFrame to retrieve all rows where review was not part of Vine (unpaid)
vine_unpaid_df = better_helpful_df[better_helpful_df.vine == 'N']
vine_unpaid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
218,R37F42INKX7L9K,5,45,49,N,Y
557,R2EHKYNEP8WVSR,5,25,25,N,Y
560,RXOS7BHID0UHL,5,16,27,N,N
909,R33HHGFPB403GM,5,19,21,N,Y
1232,RY9O9XNLP464N,2,19,22,N,Y
...,...,...,...,...,...,...
4366751,R1FALBZOUYCZTD,5,29,31,N,N
4366765,R7M3UQX8B04NM,5,20,21,N,N
4366771,R1UYT6MT2IOAJN,5,23,24,N,N
4366844,R3QRYRJWX0N6H3,4,29,33,N,N
4366886,R20WGBU79NREU,5,14,20,N,N

In [8]:
#Determine total number, and number of 5-star reviews, and percentage of 5-star reviews for paid and unpaid reviews
#total number of reviews
len(vine_df)

4366916

In [9]:
#Total number of 5-star reviews
len(vine_df[vine_df['star_rating'] == 5])

2639935

In [10]:
#Total number of Vine (paid) 5-star reviews
len(vine_paid_df[vine_paid_df['star_rating'] == 5])

13

In [11]:
#Percentage of Vine (paid) 5-star reviews
len(vine_paid_df[vine_paid_df['star_rating'] == 5]) / len(vine_paid_df) * 100

59.09090909090909

In [12]:
#Total number of unpaid 5-star reviews
len(vine_unpaid_df[vine_unpaid_df['star_rating'] == 5])

14475

In [13]:
#Percentage of unpaid 5-star reviews
len(vine_unpaid_df[vine_unpaid_df['star_rating'] == 5]) / len(vine_unpaid_df) * 100

53.63693630266425